{% extends "base.html" %}

{% block content %}
<form class="form-body" action="" method="post" novalidate>
    {% csrf_token %}
    <h1 class="login-title"><span>⚽</span>sanginiela</h1>
    <div class="inputs-layout" >
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            <br>
            <c-field-errors :field="form.email" />
            <br/>
            <c-password-field :field="form.password" />
        </p>
    </div>
    <p class="login-submit">
        <input type="submit" value="Entrar">
    </p>
    <p style="text-align: center;">
        <a href="{% url 'forgot_password' %}">¿Olvidaste tu contraseña?</a>
    </p>
    <p style="text-align: center;">
        <a href="{% url 'register' %}">Regístrate</a>
    </p>
</form>
{% endblock %}
