{% extends "base.html" %}

{% block content %}
<form class="form-body" action="" method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <h1 class="login-title"><span>⚽</span>quiniela</h1>
    <div class="inputs-layout" >
        <p>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            <br>
            <c-field-errors :field="form.first_name" />
            <br/>
            {{ form.email.label_tag }}
            {{ form.email }}
            <br>
            <c-field-errors :field="form.email" />
            <br/>
            <c-password-field :field="form.password" />
            <br/>
            <c-password-field :field="form.password_confirm" />
            <br/>
            {{ form.quinielas.label_tag }}
            {{ form.quinielas }}
            <c-field-errors :field="form.quinielas" />
        </p>
    </div>
    <p class="login-submit">
        <input type="submit" value="Crear cuenta">
    </p>
    <p style="text-align: center;">
        <a href="{% url 'login' %}">¿Ya tienes cuenta? Inicia sesión</a>
    </p>
</form>
{% endblock %}
